{% extends "base.html" %}
{% import "macros.html" as macros with context %}

{% block body %}
<title>To Do</title>
{% if not current_user.is_anonymous %}
<div>
  {% if current_user.lists.count() > 0 %}{{ macros.task_create_form() }}{% endif %}
  <div class="mt-3">{{ macros.list_create_form() }}</div>
  <span class="badge" style="color: inherit">{{ current_user.get_tasks(filter_='not done').count() }} undone</span>
    
  <div class="mt-3">
      {% for i in current_user.lists %}
      <a class="badge-custom d-inline-block my-1" style="background-color: {{ i.color }}" href="{{ url_for('list', id_=i.id) }}">{{ i.name }} <span class="badge-num">{{ i.get_tasks(filter_='not done').count() }}</span></a>
      {% endfor %}
  </div>
    
  <div class="row mt-3">
    {% for i in current_user.get_tasks() %}
    {{ macros.task_tile(i) }}
    {% endfor %}
  </div>
</div>
{% else %}
<div class="text-center opacity-25">
  <div class="bi bi-person-fill" style="font-size:5em"></div>
  <span class="h4">
    <a data-bs-toggle="modal" data-bs-target="#login" class="font-custom text-decoration-underline">Log In</a> or
    <a data-bs-toggle="modal" data-bs-target="#signup" class="font-custom text-decoration-underline">Sign Up</a>
  </span>
</div>
{% endif %}
{% endblock %}