{% extends "base.html" %}
{% import "macros.html" as macros with context %}

{% block body %}
<title>{{ task_.content }}</title>
<form onsubmit="event.preventDefault(); subtaskCreate({{ task_.id }}); this.reset();" class="input-group my-3">
    <input class="input-custom" id="subtaskFor{{ task_.id }}" autocomplete="off" placeholder="+ New Subtasks, seperated by commas">
    <button type="submit" class="btn-custom"><i class="bi bi-plus-circle"></i></button>
</form>
{% for i in task_.get_subtasks() %}
{{ macros.subtask_tile(i) }}
{% endfor %}
{% endblock %}
