:root {
    --navbar-bg: white;
    --navbar-txt: black;
    --body-bg: black;
    --body-txt: white;
}

::placeholder {
    font-style: italic;
}

.list-group-item-action {
    padding: 3px 10px;
    border-radius: 3px;
}

body, .card, .form-control, .modal-content, .list-group-item-action {
    background-color: var(--body-bg) !important;
    color: var(--body-txt) !important;
}

.navbar, .badge-custom, .btn-custom, .list-group-item-action:hover {
    background-color: var(--navbar-bg) !important;
    color: var(--navbar-txt) !important;
}

.link, .link:hover {
    color: inherit;
    text-decoration: none;
}

.card {
    border: none;
}

.card-body {
    border: 1px solid var(--body-txt);
    border-radius: 10px;
    margin-top: 25px;
}

a:hover {
    cursor: pointer;
}

.bg-danger {
    color: white !important;
}