:root {
    --primary-bg-color: #D1462F;
    --secondary-bg-color: #F0C987;
}

.other-theme {
    --primary-bg-color: #0F0A0A;
    --secondary-bg-color: #857E7B;
}

.navbar {
    background-color: var(--primary-bg-color);
}

.btn-custom {
    background-color: var(--secondary-bg-color);
    color: white;
}

.badge-custom {
    background-color: var(--secondary-bg-color);
    color: white;
}

.link, .link:hover {
    color: inherit;
    text-decoration: none;
}

a:hover {
    cursor: pointer;
}