:root {
    --navbar-bg: white;
    --navbar-txt: black;
    --body-bg: black;
    --body-txt: white;
}

body, .card, .form-control, .modal-content {
    background-color: var(--body-bg) !important;
    color: var(--body-txt) !important;
}

.navbar, .badge-custom, .btn-custom {
    background-color: var(--navbar-bg) !important;
    color: var(--navbar-txt) !important;
}

.tile {
    margin-top: 25px;
    border-radius: 5px;
}

.link, .link:hover {
    color: inherit;
    text-decoration: none;
}

.card {
    border: none;
}

a:hover {
    cursor: pointer;
}

.collapsed {
    height: 72px;
}