{% extends "base.html" %}

{% block body %}
<title>Add</title>
<h1 class="display-1 text-center">Add</h1>
<div class="col-4 offset-4">
  <form class="bg-light shadow card-body mb-4" method="post" action="">
    <input id="title" class="form-control m-1" type="text" placeholder="Title">
    <input id="notes" class="form-control m-1" type="text" placeholder="Notes">
    <select class="custom-select m-1 col-4">
      <option>High</option>
      <option>Medium</option>
      <option>Low</option>
    </select>
    <button type="submit" class="btn btn-primary col-6 offset-3">Add</button>
  </form>
</div>
{% endblock %}

