{% extends "base.html" %}

{% block body %}
<title>Add</title>
<h1 class="display-1 text-center">Add</h1>
<div class="col-4 offset-4">
  <form class="bg-light shadow card-body mb-4" method="POST" action="{{ url_for('add_pg') }}">
    <input class="form-control m-1" type="text" placeholder="Title" name="title" autocomplete="off">
    <input class="form-control m-1" type="text" placeholder="Notes" name="notes" autocomplete="off">
    <select class="custom-select m-1 col-4" name="priority">
      <option value="1">High</option>
      <option value="2">Medium</option>
      <option value="3">Low</option>
    </select>
    <button type="submit" class="btn btn-primary col-6 offset-3">Add</button>
  </form>
</div>
{% endblock %}

