<!DOCTYPE html>
{% import "macros.html" as macros with context %}
<html lang="en" id="site-content">
<head>
  <meta charset="UTF-8">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-uWxY/CJNBR+1zjPWmfnSnVxwRheevXITnMqoEIeG1LJrdI0GlVs/9cVSyPYXdcSF" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-kQtW33rZJAHjgefvhyyzcGF3C5TFyBQBA13V1RKPf4uH+bwyzQxZ6CmMZHmNBEfJ" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
  <script src="{{ url_for('static', filename='js/main.js') }}"></script>
</head>
<nav class="navbar navbar-expand-sm navbar-dark">
  <div class="container-fluid">
    <div class="btn-group">
      <a class="navbar-brand px-0" href="{{ url_for('index') }}">{{ macros.brand_icon() }}</a>
      <button type="button" class="btn dropdown-toggle dropdown-toggle-split ps-0" data-bs-toggle="dropdown" style="color:white"></button>
      <ul class="dropdown-menu">
        {% for i in all_folders %}
        <li><a class="dropdown-item" href="{{ url_for('folders.folder', id_=i.id) }}">
          {{ macros.circle_icon(size=10, color=i.color, class='me-1') }}
          {{ i.name }}
        </a></li>
        {% endfor %}
      </ul>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav me-auto">
        <li class="nav-item"><a href="{{ url_for('tasks.tasks_') }}" class="nav-link">Tasks</a></li>
        <li class="nav-item"><a href="{{ url_for('habits.habits_') }}" class="nav-link">Habits</a></li>
        <li class="nav-item"><a href="{{ url_for('lists.lists_') }}" class="nav-link">Lists</a></li>
        <li class="nav-item"><a href="{{ url_for('calendar') }}" class="nav-link">Calendar</a></li>
      </ul>
      <div class="ms-auto navbar-nav dropdown">
        <a href="#" class="nav-item nav-link" onclick="changeTheme()">{{ macros.theme_icon() }}</a>
        <a href="#" class="nav-item nav-link" data-bs-toggle="dropdown">{{ macros.user_icon() }}</a>
        <div class="dropdown-menu dropdown-menu-end">
          <a class="dropdown-item" href="#">Log In</a>
          <a class="dropdown-item" href="#">Sign Up</a>
        </div>
      </div>
    </div>
  </div>
</nav>
<div class="container pb-5">
  {% block body %}
  {% endblock %}
</div>
</html>