{% extends "base.html" %}
{% import "macros.html" as macros with context %}

{% block body %}
<title>{{ folder.name }}</title>
<div class="text-center m-3">
  {{ macros.paragraph(folder.name, size=3, class='m-0') }}
  {% call macros.link(modal_id='task_create', class='mx-1') %}{{ macros.add_icon() }}{% endcall %}
</div>

<div class="row">
  {% for i in folder.get_tasks() %}
  {% if not i.get_parent_task() %}{{ macros.task_card(i) }}{% endif %}
  {% endfor %}
</div>

{% call macros.modal('task_create', title='New Task') %}
{{ macros.task_create_form(folder) }}
{% endcall %}

{% endblock %}