{% extends "base.html" %}
{% import "macros.html" as macros with context %}

{% block body %}
<title>{{ folder.name }}</title>
<div class="text-center m-3">
  {{ macros.paragraph(folder.name, size=3, class='m-0') }}
  <a href="#" class="link" onclick="$('#task_create').fadeToggle();">{{ macros.add_icon() }}</a>
  <div id="task_create" style="display:none" class="col-6 offset-3 mt-3">{{ macros.task_create_form(folder=folder) }}</div>
</div>

<div class="row" data-masonry>
  {% for i in folder.get_tasks() %}
  {{ macros.task_card(i) }}
  {% endfor %}
</div>
{% endblock %}