{% extends "base.html" %}
{% import "macros.html" as macros with context %}

{% block body %}
<title>Habits</title>
<div>
  <div class="text-center m-3">
    {{ macros.paragraph('Habits', size=3, class='m-0') }}
    {% call macros.link(modal_id='habit_create') %}{{ macros.add_icon() }}{% endcall %}
  </div>
</div>

<div class="row">
  {% for i in habits_ %}
  {{ macros.habit_card(i) }}
  {% endfor %}
</div>

{% call macros.modal('habit_create', title='New Habit') %}
{{ macros.habit_create_form() }}
{% endcall %}

{% endblock %}