{% extends "base.html" %}
{% import "macros.html" as macros with context %}

{% block body %}
<title>Habits</title>
<div class="text-center m-3">
  {% call macros.link(modal_id='habit_create') %}{{ macros.add_icon() }}{% endcall %}
</div>

<div class="row">
  {% for i in habits_ %}
  {{ macros.habit_card(i) }}
  {% endfor %}
</div>

{{ month | safe }}

{{ macros.badge('Clear Calendar', href=url_for('habits.calendar_clear'), class='mx-2', bg_color='white', txt_color='orange') }}
{{ macros.badge('Delete All', href=url_for('habits.habit_clear'), class='mx-2', bg_color='white', txt_color='red') }}

{% call macros.modal('habit_create', title='New Habit') %}
{{ macros.habit_create_form() }}
{% endcall %}

{% endblock %}