{% extends "base.html" %}
{% import "macros.html" as macros with context %}

{% block body %}
<title>Home</title>
<div class="text-center m-3">
  <a href="#" class="link " onclick="$('#folder_create').fadeToggle()">{{ macros.add_icon() }}</a>
  <div style="display:none" id="folder_create" class="col-6 offset-3 mt-3">
    {{ macros.folder_create_form() }}
  </div>
</div>

{{ macros.folders_sort(class='mx-2') }}
<div class="row" data-masonry="">
  {% for i in folders_ %}
  {{ macros.folder_card(i) }}
  {% endfor %}
</div>

{% endblock %}