{% extends "base.html" %}
{% import "macros.html" as macros with context %}

{% block body %}
<title>Home</title>
<div>
  <div class="text-center m-3">
    {{ macros.paragraph('My Lists', size=3, class='m-0') }}
    {% call macros.link(modal_id='folder_create') %}{{ macros.add_icon() }}{% endcall %}
  </div>
  <div class="row">
    {% for i in folders %}
    {{ macros.folder_list_item(i) }}
    {% endfor %}
  </div>
</div>
{% call macros.modal('folder_create') %}{{ macros.folder_create_form() }}{% endcall %}
{% endblock %}