{% extends "base.html" %}

{% block body %}
<title>Home</title>
<h1 class="display-1 text-center">Folders
  <a href="#" data-toggle="modal" data-target="#addModal">+</a>
</h1>
<h6>
  <a class="m-3" href="{{ url_for('sort', order_by='priority') }}">Priority</a>
  <a class="m-3" href="{{ url_for('sort', order_by='date_added') }}">Date</a>
</h6>
<table class="table table-borderless table-hover col-6 offset-3">
  {% for i in folders %}
  <tr class="row" style="border-radius: 10px;">
    <td>
      <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="{{ i.color }}" class="bi bi-folder-fill"
           viewBox="0 0 16 16">
        <path d="M9.828 3h3.982a2 2 0 0 1 1.992 2.181l-.637 7A2 2 0 0 1 13.174 14H2.825a2 2 0 0 1-1.991-1.819l-.637-7a1.99 1.99 0 0 1 .342-1.31L.5 3a2 2 0 0 1 2-2h3.672a2 2 0 0 1 1.414.586l.828.828A2 2 0 0 0 9.828 3zm-8.322.12C1.72 3.042 1.95 3 2.19 3h5.396l-.707-.707A1 1 0 0 0 6.172 2H2.5a1 1 0 0 0-1 .981l.006.139z"/>
      </svg>
    </td>
    <td>
      <a href="#" class="text-muted">
        {{ i.name }}
      </a>
    </td>
    <td>
      <span class="badge badge-info">0</span>
    </td>
  </tr>
  {% endfor %}
</table>

<div class="modal" id="addModal" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">New Task</h5>
        <button type="button" class="close" data-dismiss="modal">
          <span>×</span>
        </button>
      </div>
      <div class="modal-body">
        <form class="form-group add-form" method="POST" action="{{ url_for('index') }}">
          <input name="folder_name" type="text" class="form-control" placeholder="Folder Name" autocomplete="off">
          <select name="color" class="custom-select">
            <option value="#fa1500">Red</option>
            <option value="#fa7900">Orange</option>
            <option value="#fae900">Yellow</option>
            <option value="#47fa00">Green</option>
            <option value="#0036fa">Blue</option>
            <option value="#8900fa">Purple</option>
          </select>
          <button type="submit" class="btn btn-secondary col-6 offset-3">Add</button>
        </form>
      </div>
    </div>
  </div>
</div>
<style type="text/css">
  .add-form * {
  margin-top: 10px;
  margin-bottom: 10px;
  }
</style>
{% endblock %}

