<!--Title Div-->
{% macro paragraph(text, class='', size=1) %}
<!--suppress ALL-->
<p class="{{ class }}" style="font-size:{{ size }}em">{{ text }}</p>
{% endmacro %}

<!--Unstyled Anchor Text-->
{% macro link(href='#', color='black', newtab=false, modal_id='', class='') %}
<a href="{{ href }}"
   style="text-decoration:none; color:{{ color }};"
   class="{{ class }}"
   {% if newtab %}
   target="_blank"
   {% endif %}

   {% if modal_id %}
   data-toggle="modal"
   data-target="#{{ modal_id }}"
   {% endif %}
>
  {{ caller() }}
</a>
{% endmacro %}

<!--Button-->
{% macro button(text, bg_color='black', txt_color='white') %}
<button type="submit"
        class="btn w-100"
        style="background-color:{{ bg_color }}; color:{{ txt_color }}"
>
  {{ text }}
</button>
{% endmacro %}

<!--Generic Badge-->
{% macro badge(text, class='', txt_color='black', bg_color='white', pill=false, newtab=false, modal_id='', href='') %}
<a class="badge {% if pill %}badge-pill{% endif %} {{ class }}"
   {% if href %}href="{{ href }}" {% endif %}
   style="text-decoration:none; color:{{ txt_color }}; background-color:{{ bg_color }};"
   {% if newtab %}
   target="_blank"
   {% endif %}

   {% if modal_id %}
   data-toggle="modal"
   data-target="{{ modal_id }}"
   {% endif %}
>
  {{ text }}
</a>
{% endmacro %}

{% macro modal(id, lg=false) %}
<div class="modal" id="{{ id }}">
  <div class="modal-dialog {% if lg %}modal-lg{% endif %}">
    <div class="modal-content p-3">
      {{ caller() }}
    </div>
  </div>
</div>
{% endmacro %}

{% macro dropdown(text, class='') %}
<div class="dropdown {{ class }}">
  <a href="#" data-toggle="dropdown">{{ text }}</a>
  <div class="dropdown-menu">
    {{ caller() }}
  </div>
</div>
{% endmacro %}

<!--Brand Icon-->
{% macro brand_icon(size=25, color='white') %}
<svg xmlns="http://www.w3.org/2000/svg" width="{{ size }}" height="{{ size }}" fill="{{ color }}" class="bi bi-list-check" viewBox="0 0 16 16">
  <path fill-rule="evenodd" d="M5 11.5a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zM3.854 2.146a.5.5 0 0 1 0 .708l-1.5 1.5a.5.5 0 0 1-.708 0l-.5-.5a.5.5 0 1 1 .708-.708L2 3.293l1.146-1.147a.5.5 0 0 1 .708 0zm0 4a.5.5 0 0 1 0 .708l-1.5 1.5a.5.5 0 0 1-.708 0l-.5-.5a.5.5 0 1 1 .708-.708L2 7.293l1.146-1.147a.5.5 0 0 1 .708 0zm0 4a.5.5 0 0 1 0 .708l-1.5 1.5a.5.5 0 0 1-.708 0l-.5-.5a.5.5 0 0 1 .708-.708l.146.147 1.146-1.147a.5.5 0 0 1 .708 0z"/>
</svg>
{% endmacro %}

<!--Add Icon-->
{% macro add_icon(size=25, color='green') %}
<svg xmlns="http://www.w3.org/2000/svg" width="{{ size }}" height="{{ size }}" fill="{{ color }}" class="bi bi-plus-circle" viewBox="0 0 16 16">
  <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
  <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
</svg>
{% endmacro %}

<!--Delete Icon-->
{% macro delete_icon(size=25, color='red') %}
<svg xmlns="http://www.w3.org/2000/svg" width="{{ size }}" height="{{ size }}" fill="{{ color }}" class="bi bi-x-circle" viewBox="0 0 16 16">
  <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
  <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
</svg>
{% endmacro %}

{% macro edit_icon(size=25, color='black') %}
<svg xmlns="http://www.w3.org/2000/svg" width="{{ size }}" height="{{ size }}" fill="{{ color }}" class="bi bi-pencil-square" viewBox="0 0 16 16">
  <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
  <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
</svg>
{% endmacro %}

<!--Folder Ctrl Panel-->
{% macro folder_ctrl_panel(folder, class='') %}
<div class="{{ class }}">
  {% call link(modal_id='task_create', class='mx-1') %}{{ add_icon(size=20) }}{% endcall %}
  {% call link(modal_id='folder_update_%s' % folder.id, class='mx-1') %}{{ edit_icon(size=20) }}{% endcall %}
  {% call link(modal_id='folder_delete_%s' % folder.id, class='mx-1') %}{{ delete_icon(size=20) }}{% endcall %}
</div>

{% call modal('task_create') %}
{{ task_create_form(folder) }}
{% endcall %}

{% call modal('folder_update_%s' % folder.id) %}
{{ folder_update_form(folder) }}
{% endcall %}

{% call modal('folder_delete_%s' % folder.id) %}
{{ paragraph('Delete?', class='text-center m-3', size=3) }}
{% call link(class='btn btn-lg', href=url_for('folder_delete', id_=folder.id)) %}Delete{% endcall %}
{% endcall %}

{% endmacro %}

<!--Sort Filter-->
{% macro folders_sort_filter() %}
<div class="list-inline"></div>
{% endmacro %}

<!--Task Card-->
{% macro task_card(task) %}
<div class="card col-4 border-0 p-0">
  <div class="rounded border card-body m-2">
    <div class=" d-flex justify-content-between">
      {% call link(href=url_for('index')) %}{{ paragraph(task.title) }}{% endcall %}
      <p class="py-2 {{ task.get_priority()[1] }}">{{ task.get_priority()[0] }}</p>
    </div>
    <div class="">
      {{ task.notes }}
      <span class="{{ task.get_done()[1] }}">{{ task.get_done()[0] }}</span>
    </div>
    <div class="">
      <small>{{ task.date_added.strftime("%m/%d/%Y") }}</small>
    </div>
  </div>
</div>
{% endmacro %}

<!--Folder List Item-->
{% macro folder_list_item(folder) %}
<div class="card col-4 border-0">
  <div class="card-body shadow-sm m-2 list-inline" style="border-radius:10px; background-color:{{ folder.color }}">
    {% call link(color='white', href=url_for('folder_items', id_=folder.id), class='list-inline-item') %}{{ paragraph(folder.name, size=1.25, class='m-0') }}{% endcall %}
    {{ badge(folder.tasks|count|string, class='list-inline-item', pill=true) }}
    {{ folder_ctrl_panel(folder, class='float-right list-inline-item') }}
  </div>
</div>
{% endmacro %}

{% macro folder_create_form() %}
<form class="form-group" method="POST" action="{{ url_for('folder_create') }}">
  <input name="folder_name" type="text" class="form-control mb-2" placeholder="Folder Name" autocomplete="off">
  <input type="color" name="color" class="form-control form-control-color mb-2">
  {{ button('Add') }}
</form>
{% endmacro %}

{% macro folder_update_form(folder) %}
<form class="form-group" method="POST" action="{{ url_for('folder_update', id_=folder.id) }}">
  <input name="folder_name" type="text" class="form-control mb-2" placeholder="Folder Name" autocomplete="off" value="{{ folder.name }}">
  <input type="color" name="color" class="form-control form-control-color mb-2" value="{{ folder.color }}">
  {{ button('Edit') }}
</form>
{% endmacro %}

<!--Add Task Modal-->
{% macro task_create_form(folder) %}
<form class="form-group" method="POST" action="{{ url_for('folder_items', id_=folder.id) }}">
  <input name="task_title" type="text" class="form-control mb-2" placeholder="Task Title" autocomplete="off">
  <input name="task_notes" type="text" class="form-control mb-2" placeholder="Notes" autocomplete="off">
  <select name="priority" class="custom-select mb-2">
    <option value="3">Low</option>
    <option value="2">Medium</option>
    <option value="1">High</option>
  </select>
  {{ button('Add') }}
</form>
{% endmacro %}