<!--Paragraph-->
{% macro paragraph(text, class='', size=1) %}
<!--suppress ALL-->
<p class="m-0 {{ class }}" style="font-size:{{ size }}em">{{ text }}</p>
{% endmacro %}

<!--Link-->
{% macro link(href='#', style='', color='black', newtab=false, modal_id='', class='', tooltip='') %}
<a href="{{ href }}"
   style="text-decoration:none; color:{{ color }}; {{ style }}"
   class="{{ class }}"
   title="{{ tooltip }}"
   {% if newtab %}
   target="_blank"
   {% endif %}

   {% if modal_id %}
   data-toggle="modal"
   data-target="#{{ modal_id }}"
   {% endif %}
>
  {{ caller() }}
</a>
{% endmacro %}

<!--Button-->
{% macro button(text, bg_color='black', txt_color='white') %}
<button type="submit"
        class="btn w-100"
        style="background-color:{{ bg_color }}; color:{{ txt_color }}"
>
  {{ text }}
</button>
{% endmacro %}

<!--Generic Badge-->
{% macro badge(text, class='', bg_color='black', txt_color='white', pill=false, newtab=false, modal_id='', href='', tooltip='') %}
<a class="badge {% if pill %}badge-pill{% endif %} {{ class }}"
   {% if href %}href="{{ href }}" {% endif %}
   title="{{ tooltip }}"
   style="
   text-decoration:none;
   color:{{ txt_color }};
   background-color:{{ bg_color }};
   font-size:0.75em;"
   {% if newtab %}
   target="_blank"
   {% endif %}

   {% if modal_id %}
   data-toggle="modal"
   data-target="{{ modal_id }}"
   {% endif %}
>
  {{ text }}
</a>
{% endmacro %}

<!--Modal-->
{% macro modal(id, title='', lg=false) %}
<div class="modal" id="{{ id }}">
  <div class="modal-dialog modal-lg">
    <div class="modal-content p-3">
      {% if title %}{{ paragraph(title, class='text-center m-3', size=3) }}{% endif %}
      {{ caller() }}
    </div>
  </div>
</div>
{% endmacro %}

<!--Input-->
{% macro input(name, placeholder, class='', value='') %}
<input type="text" autocomplete="off" class="form-control {{ class }}" name="{{ name }}" placeholder="{{ placeholder }}" value="{{ value }}">
{% endmacro %}

<!--Brand icon-->
{% macro brand_icon(size=25, color='white', tooltip='') %}
<svg xmlns="http://www.w3.org/2000/svg" title="{{ tooltip }}" width="{{ size }}" height="{{ size }}" fill="{{ color }}" class="bi bi-check-all" viewBox="0 0 16 16">
  <path d="M8.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L2.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093L8.95 4.992a.252.252 0 0 1 .02-.022zm-.92 5.14.92.92a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 1 0-1.091-1.028L9.477 9.417l-.485-.486-.943 1.179z"/>
</svg>
{% endmacro %}

<!--Add icon-->
{% macro add_icon(size=25, color='green', tooltip='') %}
<svg xmlns="http://www.w3.org/2000/svg" title="{{ tooltip }}" width="{{ size }}" height="{{ size }}" fill="{{ color }}" class="bi bi-plus-circle" viewBox="0 0 16 16">
  <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
  <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
</svg>
{% endmacro %}

<!--Delete icon-->
{% macro delete_icon(size=25, color='red', tooltip='') %}
<svg xmlns="http://www.w3.org/2000/svg" title="{{ tooltip }}" width="{{ size }}" height="{{ size }}" fill="{{ color }}" class="bi bi-x-circle" viewBox="0 0 16 16">
  <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
  <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
</svg>
{% endmacro %}

<!--Edit icon-->
{% macro edit_icon(size=25, color='black', tooltip='') %}
<svg xmlns="http://www.w3.org/2000/svg" title="{{ tooltip }}" width="{{ size }}" height="{{ size }}" fill="{{ color }}" class="bi bi-pencil-square" viewBox="0 0 16 16">
  <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
  <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
</svg>
{% endmacro %}

<!--Reminder icon-->
{% macro reminder_icon(size=25, color='black', tooltip='') %}
<svg xmlns="http://www.w3.org/2000/svg" title="{{ tooltip }}" width="{{ size }}" height="{{ size }}" fill="{{ color }}" class="bi bi-alarm" viewBox="0 0 16 16">
  <path d="M8.5 5.5a.5.5 0 0 0-1 0v3.362l-1.429 2.38a.5.5 0 1 0 .858.515l1.5-2.5A.5.5 0 0 0 8.5 9V5.5z"/>
  <path d="M6.5 0a.5.5 0 0 0 0 1H7v1.07a7.001 7.001 0 0 0-3.273 12.474l-.602.602a.5.5 0 0 0 .707.708l.746-.746A6.97 6.97 0 0 0 8 16a6.97 6.97 0 0 0 3.422-.892l.746.746a.5.5 0 0 0 .707-.708l-.601-.602A7.001 7.001 0 0 0 9 2.07V1h.5a.5.5 0 0 0 0-1h-3zm1.038 3.018a6.093 6.093 0 0 1 .924 0 6 6 0 1 1-.924 0zM0 3.5c0 .753.333 1.429.86 1.887A8.035 8.035 0 0 1 4.387 1.86 2.5 2.5 0 0 0 0 3.5zM13.5 1c-.753 0-1.429.333-1.887.86a8.035 8.035 0 0 1 3.527 3.527A2.5 2.5 0 0 0 13.5 1z"/>
</svg>
{% endmacro %}

<!--Calendar icon-->
{% macro calendar_icon(size=25, color='black', tooltip='') %}
<svg xmlns="http://www.w3.org/2000/svg" title="{{ tooltip }}" width="{{ size }}" height="{{ size }}" fill="{{ color }}" class="bi bi-calendar-plus" viewBox="0 0 16 16">
  <path d="M8 7a.5.5 0 0 1 .5.5V9H10a.5.5 0 0 1 0 1H8.5v1.5a.5.5 0 0 1-1 0V10H6a.5.5 0 0 1 0-1h1.5V7.5A.5.5 0 0 1 8 7z"/>
  <path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4H1z"/>
</svg>
{% endmacro %}

<!--Check icon-->
{% macro check_icon(done, size=25, tooltip='') %}
<svg xmlns="http://www.w3.org/2000/svg" width="{{ size }}" height="{{ size }}" fill="{% if done %}green{% else %}lightgray{% endif %}" class="bi bi-check-lg" viewBox="0 0 16 16">
  <path d="M13.485 1.431a1.473 1.473 0 0 1 2.104 2.062l-7.84 9.801a1.473 1.473 0 0 1-2.12.04L.431 8.138a1.473 1.473 0 0 1 2.084-2.083l4.111 4.112 6.82-8.69a.486.486 0 0 1 .04-.045z"/>
</svg>
{% endmacro %}

<!--Circle icon-->
{% macro circle_icon(size=25, color='black', tooltip='', class='') %}
<svg xmlns="http://www.w3.org/2000/svg" title="{{ tooltip }}" width="{{ size }}" height="{{ size }}" fill="{{ color }}" class="bi bi-circle-fill {{ class }}" viewBox="0 0 16 16">
  <circle cx="8" cy="8" r="8"/>
</svg>
{% endmacro %}

<!--User icon-->
{% macro user_icon(size=25, color='white', tooltip='') %}
<svg xmlns="http://www.w3.org/2000/svg" title="{{ tooltip }}" width="{{ size }}" height="{{ size }}" fill="{{ color }}" class="bi bi-person-fill" viewBox="0 0 16 16">
  <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
</svg>
{% endmacro %}

<!--Folder card-->
{% macro folder_card(folder) %}
<div class="card col-xl-4 border-0 rounded">
  <div class="card-body my-3 p-3 shadow-sm" style="border: 5px solid {{ folder.color }}; border-radius:10px;">
    {% call link(href=url_for('folders.folder', id_=folder.id), class='font-weight-bold') %}{{ folder.name }}{%
    endcall %}
    <p class="px-2 py-1 font-weight-bold d-inline mx-1" style="background-color:black; color:white; font-size:0.75em; border-radius:10px;">{{ folder.get_undone_count() }}</p>
    <span class="float-right">
      {% call link(class='mx-1', modal_id='task_create_%s'%folder.id) %}{{ add_icon(size=16) }}{% endcall %}
      {% call link(class='mx-1', modal_id='folder_update_%s'%folder.id) %}{{ edit_icon(size=16) }}{% endcall %}
      {% call link(class='mx-1', modal_id='folder_delete_%s'%folder.id) %}{{ delete_icon(size=16) }}{% endcall %}
    </span>
  </div>
  {% call modal('task_create_%s'%folder.id, title='New Task') %}
  {{ task_create_form(folder) }}
  {% endcall %}

  {% call modal('folder_update_%s'%folder.id, title='Edit Folder') %}
  {{ folder_update_form(folder) }}
  {% endcall %}

  {% call modal('folder_delete_%s'%folder.id, title='Delete Folder?') %}
  {% call link(class='btn btn-dark text-light', href=url_for('folders.folder_delete', id_=folder.id)) %}Delete{%
  endcall %}
  {% endcall %}
</div>
{% endmacro %}

<!--Task card-->
{% macro task_card(task) %}
<div class="card col-xl-3 border-0">
  <div class="card-body shadow-sm my-3 p-3" style="border-radius: 10px; border: 5px solid {{ task.folders.color }}; {% if task.done %}background-color:#c9ffc9;{% endif %}">
    <div class="d-flex justify-content-between">
      <div class="dropdown">
        <a href="" data-toggle="dropdown" data-target="task-info-{{ task.id }}" class="link font-weight-bold text-truncate" style="font-size:0.9em">{{ task.name }}</a>
        <div class="dropdown-menu dropdown-custom" id="task-info-{{ task.id }}" style="width:300px">
          {{ paragraph('Added %s' % task.date_created.strftime('%B %d, %Y %I:%M %p'), class='text-muted font-italic d-inline', size=0.8) }}
          {% if task.done %}{{ paragraph('Done %s' % task.date_done.strftime('%B %d, %Y %I:%M %p'), class='font-italic text-success', size=0.8) }}{% endif %}
          {% if task.note %}{{ paragraph(task.note, class='font-italic') }}{% endif %}
        </div>
      </div>
      {{ badge(task.folders.name, href=url_for('folders.folder', id_=task.folders.id), bg_color=task.folders.color,
      class='m-1 text-truncate') }}
    </div>
    <div>
      {% call link(href=url_for('tasks.task_toggle', id_=task.id), class='') %}{{ check_icon(task.done, size=16) }}{%
      endcall %}
      {% if task.reminder %}
      <div class="dropdown d-inline">
        <a href="" data-toggle="dropdown" data-target="task-reminder-{{ task.id }}" class="mx-1">{{ reminder_icon(size=16) }}</a>
        <div class="dropdown-menu dropdown-custom" id="task-reminder-{{ task.id }}" style="width:300px">
          {{ task.date_due.strftime('%B %d, %Y') }}
        </div>
      </div>
      {% endif %}
      {% if task.get_subtasks_count() > 0 %}
      <div class="dropdown d-inline">
        <a href="#" data-toggle="dropdown" data-target="task-progress-{{ task.id }}" class="badge badge-dark badge-pill">{{ task.get_subtasks_count() }}</a>
        <div class="dropdown-menu dropdown-custom" style="width:300px">
          <div class="progress mb-3">
            <div class="progress-bar" role="progressbar" style="width:{{ task.get_subtasks_progress() }}%"></div>
          </div>
          {% for i in task.subtasks | sort(attribute='done') %}
          <div>
            {% call link(href=url_for('tasks.task_toggle', id_=i.id)) %}{{ check_icon(i.done, size=16) }}{% endcall %}
            {{ paragraph(i.name, class='d-inline', size=0.9) }}
            {% call link(href=url_for('tasks.task_delete', id_=i.id)) %}{{ delete_icon(size=16) }}{% endcall %}
          </div>
          {% endfor %}
        </div>
      </div>
      {% endif %}
      <!--Delete-->
      <div class="dropdown d-inline">
        <a href="" data-toggle="dropdown" data-target="task-delete-{{ task.id }}" class="float-right mx-1">{{ delete_icon(size=16) }}</a>
        <div class="dropdown-menu dropdown-custom" id="task-delete-{{ task.id }}">
          <a href="{{ url_for('tasks.task_delete', id_=task.id) }}" class="btn btn-danger w-100">Delete</a>
        </div>
      </div>
      <!--Update-->
      <div class="dropdown d-inline">
        <a href="" data-toggle="dropdown" data-target="task-update-{{ task.id }}" class="float-right mx-1">{{ edit_icon(size=16) }}</a>
        <div class="dropdown-menu dropdown-custom" id="task-update-{{ task.id }}" style="width:400px">
          {{ task_update_form(task) }}
        </div>
      </div>
      <!--Subtask Create-->
      <div class="dropdown d-inline">
        <a href="" data-toggle="dropdown" data-target="subtask-create-{{ task.id }}" class="float-right mx-1">{{ add_icon(size=16) }}</a>
        <div class="dropdown-menu dropdown-custom" id="subtask-create-{{ task.id }}" style="width:300px">
          {{ subtask_create_form(task) }}
        </div>
      </div>
    </div>
  </div>
</div>
{% endmacro %}

<!--List card-->
{% macro list_item(list) %}
<div class="card col-12 border-0">
  <div class="card-body my-2" style="border-radius:10px; border: 5px solid {{ list.color }}">
    {% call link(modal_id='list_info_%s'%list.id) %}{{ list.name }}{% endcall %}
    {% if order_by == 'date_created desc' %}
    {{ paragraph('Created %s' % list.date_created, class='d-inline mx-1 text-muted font-italic', size=0.8) }}
    {% elif order_by == 'date_updated desc' %}
    {{ paragraph('Updated %s' % list.date_updated, class='d-inline mx-1 text-muted font-italic', size=0.8) }}
    {% endif %}
    <div class="float-right">
      {% call link(modal_id='list_update_%s'%list.id, class='mx-1') %}{{ edit_icon(size=20) }}{% endcall %}
      {% call link(modal_id='list_delete_%s'%list.id, class='mx-1') %}{{ delete_icon(size=20) }}{% endcall %}
    </div>
  </div>
</div>
<div>
  {{ list_info(list) }}
  {% call modal('list_update_%s'%list.id) %}{{ list_update_form(list) }}{% endcall %}
  {% call modal('list_delete_%s'%list.id, title='Delete?') %}{% call link(href=url_for('lists.list_delete',
  id_=list.id), class='btn btn-danger', color='white') %}Delete{% endcall %}{% endcall %}
</div>
{% endmacro %}

<!--Habit card-->
{% macro habit_card(habit) %}
<div class="card col-xl-6 border-0 rounded">
  <div class="card-body my-3 p-3 shadow-sm" style="border-radius:10px; border:5px solid {{ habit.color }}">
    {{ circle_icon(size=20, color=habit.color) }}
    {% call link(class='font-weight-bold d-inline mx-2', style='color:black', href=url_for('habits.habit',
    id_=habit.id)) %}{{ habit.name }}{% endcall %}
    {% if habit.reminder %}{{ reminder_icon(size=17) }}{% endif %}
    {{ paragraph('%s, starting %s' % (habit.frequency, habit.start_date.strftime('%B %d, %Y')), class='d-inline font-italic text-muted', size=0.8) }}
    <div class="float-right">
      {% call link(class='mx-1', href=url_for('habits.habit_today', id_=habit.id)) %}{{ calendar_icon(size=20, color='green') }}{% endcall %}
      {% call link(class='mx-1', modal_id='habit_update_%s'%habit.id) %}{{ edit_icon(size=20) }}{% endcall %}
      {% call link(class='mx-1', modal_id='habit_delete_%s'%habit.id) %}{{ delete_icon(size=20) }}{% endcall %}
    </div>
  </div>
  {% call modal('habit_update_%s'%habit.id, title='Edit Habit') %}
  {{ habit_update_form(habit) }}
  {% endcall %}

  {% call modal('habit_delete_%s'%habit.id, title='Delete Habit?') %}
  {% call link(class='btn btn-dark text-light', href=url_for('habits.habit_delete', id_=habit.id)) %}Delete{% endcall %}
  {% endcall %}
</div>
{% endmacro %}

{% macro day_item(day, class='') %}
<div class="card col-12 border-0">
  <div class="card-body border rounded shadow-sm m-2">
    {{ circle_icon(size=20, color=day.habits.color, class='m-0') }}
    {{ paragraph(day.date.strftime('%B %d, %Y'), class='font-italic d-inline mx-2') }}
    <a href="{{ url_for('habits.day_delete', id_=day.id) }}" class="float-right">{{ delete_icon(size=20) }}</a>
  </div>
</div>
{% endmacro %}

<!--Task create form-->
{% macro task_create_form(folder='', class='') %}
<form class="form-group" method="POST" action="{{ url_for('tasks.task_create') }}" id="form_">
  <div class="input-group" id="input_">
    {{ input('name', 'Name', class='w-50 mb-2') }}
    <select name="folder" class="form-control input-group-append">
      <option>Select</option>
      {% for i in all_folders %}
      <option value="{{ i.id }}" {% if folder.id==i.id %}selected{% endif %}>{{ i.name }}</option>
      {% endfor %}
    </select>
  </div>
  <div class="form-check mb-2">
    <input onclick="examp()" type="checkbox" autocomplete="off" class="form-check-input" name="reminder" value="True" id="remind_check">
    <label class="form-check-label">Remind Me!</label>
  </div>
  <input type="date" id="date_select" class="form-control mb-2" style="display: none" name="date_due">
  <a href="#" class="btn btn-success mb-2 w-100" onclick="" id="add_button">+</a>
  {{ button('Submit') }}
</form>
{% endmacro %}

<!--Subtask create form-->
{% macro subtask_create_form(task, class='') %}
<form class="form-group" method="POST" action="{{ url_for('subtask_create', id_=task.id) }}">
  {{ input('name', 'Name', class='w-100 mb-2') }}
  {{ button('Submit') }}
</form>
{% endmacro %}

<!--Task update form-->
{% macro task_update_form(task, class='') %}
<form class="form-group" method="POST" action="{{ url_for('tasks.task_update', id_=task.id) }}">
  {{ input('name', 'Name', class='mb-2', value=task.name) }}
  <textarea autocomplete="off" name="note" placeholder="Note" class="form-control mb-2" rows="5">{{ task.note }}</textarea>
  <select name="folder" class="form-control mb-2">
    <option>Select</option>
    {% for i in all_folders %}
    <option value="{{ i.id }}" {% if task.folder== i.id %}selected{% endif %}>{{ i.name }}</option>
    {% endfor %}
  </select>
  <div class="form-check mb-2">
    <input onclick="examp()" type="checkbox" autocomplete="off" class="form-check-input" name="reminder" value="True" id="remind_check">
    <label class="form-check-label">Remind Me!</label>
  </div>
  <input type="date" id="date_select" class="form-control mb-2" style="display: none" name="date_due">
  {{ button('Submit') }}
</form>
{% endmacro %}

<!--Folder create form-->
{% macro folder_create_form(class='') %}
<form class="form-group" method="POST" action="{{ url_for('folders.folder_create') }}" id="form_2">
  <div id="input_2">{{ input('name', 'Name', class='mb-2') }}</div>
  <a href="#" onclick="addInput2()" class="btn btn-success mb-2 w-100" id="add_button_2">+</a>
  {{ button('Submit') }}
</form>
{% endmacro %}

<!--Folder update form-->
{% macro folder_update_form(folder, class='') %}
<form class="form-group" method="POST" action="{{ url_for('folders.folder_update', id_=folder.id) }}">
  {{ input('name', 'Name', class='mb-2', value=folder.name) }}
  <input type="color" autocomplete="off" class="form-control mb-2" name="color" value="{{ folder.color }}">
  {{ button('Edit') }}
</form>
{% endmacro %}

<!--Habit create form-->
{% macro habit_create_form(class='') %}
<form class="form-group" method="POST" action="{{ url_for('habits.habit_create') }}">
  {{ input('name', 'Name', class='mb-2') }}
  <select name="frequency" class="form-control mb-2">
    <option value="Daily">Daily</option>
    <option value="Weekly">Weekly</option>
    <option value="Monthly">Monthly</option>
  </select>
  {{ button('Submit') }}
</form>
{% endmacro %}

<!--Habit update form-->
{% macro habit_update_form(habit, class='') %}
<form class="form-group" method="POST" action="{{ url_for('habits.habit_update', id_=habit.id) }}">
  {{ input('name', 'Name', class='mb-2', value=habit.name) }}
  <select name="frequency" class="form-control mb-2">
    <option value="Daily">Daily</option>
    <option value="Weekly">Weekly</option>
    <option value="Monthly">Monthly</option>
  </select>
  <input type="color" autocomplete="off" class="form-control mb-2" name="color" value="{{ habit.color }}">
  {{ button('Submit') }}
</form>
{% endmacro %}

<!--List create form-->
{% macro list_create_form(class='') %}
<form class="form-group" method="POST" action="{{ url_for('lists.list_create') }}">
  {{ input('name', 'Name', class='mb-2') }}
  <textarea autocomplete="off" name="contents" placeholder="Contents" class="form-control mb-2" rows="10"></textarea>
  {{ button('Submit') }}
</form>
{% endmacro %}

<!--List update form-->
{% macro list_update_form(list, class='') %}
<form class="form-group" method="POST" action="{{ url_for('lists.list_update', id_=list.id) }}">
  {{ input('name', 'Name', class='mb-2', value=list.name) }}
  <textarea autocomplete="off" name="contents" placeholder="Contents" class="form-control mb-2" rows="10">{{ list.contents }}</textarea>
  {{ button('Edit') }}
</form>
{% endmacro %}

<!--Folders Sort-->
{% macro folders_sort(class='') %}
<div class="list-inline {{ class }}">
  {{ badge('Sort by:', class='list-inline-item', bg_color='white', txt_color='black') }}
  {% if order_by != 'name' %}{{ badge('Name', class='list-inline-item', pill=true, href=url_for('index', order_by='name')) }}{% endif %}
  {% if order_by != 'color' %}{{ badge('Color', class='list-inline-item', pill=true, href=url_for('index', order_by='color')) }}{% endif %}
  {% if order_by != 'date_created desc' %}{{ badge('Date Created', class='list-inline-item', pill=true, href=url_for('index', order_by='date_created desc')) }}{% endif %}
</div>
{% endmacro %}

<!--Tasks Sort-->
{% macro tasks_sort(class='') %}
<div class="list-inline {{ class }}">
  {{ badge('Sort by:', class='list-inline-item', bg_color='white', txt_color='black') }}
  {% if order_by != 'tasks.date_created desc' %}{{ badge('Date Created', class='list-inline-item', pill=true,
  href=url_for('tasks.tasks_', order_by='tasks.date_created desc')) }}{% endif %}
  {% if order_by != 'folders.name' %}{{ badge('Folder', class='list-inline-item', pill=true,
  href=url_for('tasks.tasks_', order_by='folders.name')) }}{% endif %}
  {% if session['hide_completed'] == true %}
  {{ badge('Show Completed', class='list-inline-item float-right', pill=true, href=url_for('tasks.hide_toggle')) }}
  {% else %}
  {{ badge('Hide Completed', class='list-inline-item float-right', pill=true, href=url_for('tasks.hide_toggle')) }}
  {% endif %}
</div>
{% endmacro %}

<!--Lists Sort-->
{% macro lists_sort(class='') %}
<div class="list-inline {{ class }}">
  {{ badge('Sort by:', class='list-inline-item', bg_color='white', txt_color='black') }}
  {% if order_by != 'date_created desc' %}{{ badge('Date Created', class='list-inline-item', pill=true, href=url_for('lists.lists_', order_by='date_created desc')) }}{% endif %}
  {% if order_by != 'date_updated desc' %}{{ badge('Date Updated', class='list-inline-item', pill=true, href=url_for('lists.lists_', order_by='date_updated desc')) }}{% endif %}
</div>
{% endmacro %}

<!--List Info-->
{% macro list_info(list) %}
<div>
  {% call modal('list_info_%s'%list.id, title=list.name) %}
  {% for i in list.get_items() %}
  <div>{{ '%s. '%loop.index }}{{ i }}</div>
  {% endfor %}
  {% endcall %}
</div>
{% endmacro %}

{% macro tasks_paginate() %}
<nav class="d-flex justify-content-center">
  <ul class="pagination">
    <li class="page-item">
      <a class="page-link {% if not tasks_.has_prev %}btn disabled{% endif %}" {% if tasks_.has_prev %} href="{{ url_for('tasks.tasks_', page=tasks_.prev_num, order_by=order_by) }}" {% endif %}>Previous</a>
    </li>
    <li class="page-item">
      <a class="page-link {% if not tasks_.has_next %}btn disabled{% endif %}" {% if tasks_.has_next %} href="{{ url_for('tasks.tasks_', page=tasks_.next_num, order_by=order_by) }}" {% endif %}>Next</a>
    </li>
  </ul>
</nav>
{% endmacro %}