{% extends "base.html" %}
{% import "macros.html" as macros with context %}

{% block body %}
<title>Tasks</title>
<div class="text-center m-3">
  {% call macros.link(modal_id='task_create', class='mx-1') %}{{ macros.add_icon() }}{% endcall %}
</div>

{{ macros.tasks_sort(class='mx-2') }}
<div class="row">
  {% for i in tasks_.items %}
  {{ macros.task_card(i) }}
  {% endfor %}
</div>
{{ macros.tasks_paginate() }}
{{ macros.badge('Delete All', href=url_for('tasks.task_clear'), class='mx-2', bg_color='white', txt_color='red') }}

{% call macros.modal('task_create', title='New Task') %}
{{ macros.task_create_form() }}
{% endcall %}

{% endblock %}