{% extends "base.html" %}
{% import "macros.html" as macros with context %}

{% block body %}
<title>{{ task.name }}</title>
<div class="text-center m-3">
  {{ macros.paragraph(task.name, size=3, class='m-0') }}
  {% call macros.link(modal_id='task_create', class='mx-1') %}{{ macros.add_icon() }}{% endcall %}
</div>

<div class="row">
  {% for i in task.subtasks %}
  {{ macros.task_card(i) }}
  {% endfor %}
</div>

{% call macros.modal('task_create', title='New Task') %}
{{ macros.subtask_create_form(task) }}
{% endcall %}

{% endblock %}