{% extends "base.html" %}
{% import "macros.html" as macros with context %}

{% block body %}
<title>Tasks</title>
<div>
  <div class="text-center m-3">
    {{ macros.paragraph('Tasks', size=3, class='m-0') }}
    {% call macros.link(modal_id='task_create') %}{{ macros.add_icon() }}{% endcall %}
  </div>

  {{ macros.tasks_sort(class='mx-2') }}
  {% for i in tasks_ %}
  {{ macros.task_card(i) }}
  {% endfor %}

</div>

{% call macros.modal('task_create', title='New Task') %}
{{ macros.task_create_form() }}
{% endcall %}

{% endblock %}